aside{
    margin: 50px 0px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
}

aside figure{
    position: relative;
    width: 450px;
    margin: 0px 20px;
    border-radius: 20px;
    overflow: hidden;
}

aside figure img{width: 100%;}

aside figure figcaption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

aside figure figcaption .fa-award{
    color: yellow;
    font-size: 55px;
}

aside figure figcaption h2{
    font-size: 40px;
    margin: 20px 0px;
}

aside figure figcaption p{font-size: 30px;}

aside blockquote{
    width: 650px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    margin: 0px 20px;
}

aside blockquote h4{color: rgb(10, 39, 66);}

aside blockquote h2{
    font-size: 40px;
    font-weight: bold;
}

aside blockquote p{
    line-height: 30px;
}

aside blockquote a{
    background: rgb(231, 201, 34);
    padding: 10px 25px;
    border-radius: 20px;
    transition: 0.5s;
    text-decoration: none;
    color: black;
}

aside blockquote a:hover{
    background-color: rgb(10, 39, 66);
    color: white;
    transition: 0.5s;
}

@media only screen and (max-width:1180px){

    aside figure{margin-top: 40px;}

    aside blockquote{
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 60px;
        width: 80%;
    }

    aside blockquote h2{line-height: 40px;}

    aside blockquote p{
        line-height: 30px;
        margin-top: 20px;
    }

    aside blockquote a{
        padding: 0px 20px;
        margin-top: 20px;
    }
}

@media only screen and (max-width:560px){

    aside blockquote{width: 90%;}

    aside blockquote h2{font-size: 30px;}

    aside blockquote p{font-size: 14px;}

    aside blockquote a{
        font-size: 15px;
        width: 80%;
        padding: 0px;
    }
}