
footer h3{
    text-align: center;
    color: green;
}

.container-formulario{
    background-color: rgb(255, 197, 5);
    padding: 20px 0px;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    border-radius: 20px;
}

.text-formulario{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.text-formulario h2{
    width: 400px;
    font-size: 40px;
}

.text-formulario p{
    width: 500px;
    font-size: 20px;
    text-align: justify;
    color: rgb(41, 40, 40);
}

/* formulario */

.conta-formulario{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

form,iframe{
    width: 600px;
    padding: 20px;
}

input[type="text"],input[type="email"]{
    width: 100%;
    margin: 10px 0px;
    padding: 10px;
    border: 1px solid rgb(192, 191, 191);
    border-radius: 10px;
}

input[type="text"]:focus,input[type="email"]:focus,textarea:focus{
    outline: 0 none;
}

textarea{
    min-width: 100%;
    border: 1px solid rgb(192, 191, 191);
    border-radius: 10px;
    color: black;
    padding: 10px;
    margin: 10px 0px;
}

input[type="submit"]{
    margin: 10px 0px;
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    transition: 0.5s;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1;
}

input[type="submit"]:hover{
    background: rgb(0, 0, 0);
    color: white;
    transition: 0.5s;
}

footer nav{
    background-color: rgb(8, 8, 46);
    color: white;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer nav span{
    color: rgb(255, 197, 5);
}

footer nav a{
    text-decoration: none;
    color: rgb(255, 197, 5);
}

@media only screen and (max-width:1309px){
    .text-formulario h2,.text-formulario p{
        width: 100%;
        text-align: center;
        margin: 10px 0px;
    }
    
    form,iframe{
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width:850px){
    .container-formulario{
        width: 90%;
    }
}

@media only screen and (max-width:530px){
    .container-formulario{
        width: 95%;
    }

    .text-formulario h2{
        font-size: 20px;
    }

    .text-formulario p{
        font-size: 15px;
    }

    footer nav{
        padding: 0px 40px;
        text-align: center;
    }
}
