
/* servicios */
.conta-servicios{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(../img/carousel-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 100px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.text-servicios{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px 20px;
}

.text-servicios h4{
    color: skyblue;
    text-align: right;
}

.text-servicios h2{
    color: white;
    font-size: 40px;
    margin-bottom: 10px;
    text-align: right;
}

.text-servicios p{
    line-height: 35px;
    text-align: right;
    font-weight: bolder;
    color: white;
}

.text-servicios a{
    background: rgb(231, 201, 34);
    padding: 10px 25px;
    border-radius: 20px;
    transition: 0.5s;
    text-decoration: none;
    text-align: center;
    color: black;
    width: 150px;
    align-self: center;
}

.text-servicios a:hover{
    background-color: rgb(10, 39, 66);
    color: white;
    transition: 0.5s;
}

.Servicios{
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
}

.Servicios figure{
    width: 250px;
    background-color: white;
    text-align: center;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding-top: 20px;
    overflow: hidden;
}

.Servicios figure i{
    color: rgb(23, 80, 23);
    font-size: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.123);
    border-radius: 50%;
}

.img-servicio img{width: 100%;}

/* experiencia */

.container-experience{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px 0px;
}

.text-experience{
    width: 600px;
    line-height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}

.text-experience h4{
    color: green;
}

.text-experience h2{
    font-size: 40px;
}

.text-experience p{
    line-height: 25px;
    margin: 20px 0px;
}

.exper-numbers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 20px;
}

.numbers{
    margin-top: 20px;
}

.numbers h3{
    color: green;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.numbers p{
    font-weight: bold;
}

.img-experience{
    border-radius: 20px;
    overflow: hidden;
    width: 500px;
    margin: 20px;
}

.img-experience img{
    width: 100%;
}

/* Persons */

.container-persons{
    margin: 50px 0px;
}

.container-persons h3{
    text-align: center;
    color: green;
}

.text-persons{
    width: 60%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.text-persons h2{
    width: 400px;
    font-size: 40px;
}

.text-persons p{
    width: 500px;
    font-size: 20px;
    text-align: justify;
    line-height: 30px;
    color: rgb(90, 89, 89);
}

.img-persons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.img-persons figure{
    width: 300px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.img-persons figure img{width: 100%;}

.social-person{
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgb(255, 197, 5);
    padding: 50px 20px;
    transform: translateX(-100%);
    transition: 0.5s ease-out;
}

.img-persons figure:hover .social-person{
    transform: translateX(0%);
    transition: 0.5s ease-out;
}

.img-persons figure img{transition: 0.5s;}

.img-persons figure img:hover{
    transform: translateX(10%);
    transition: 0.5s;
}

.social-person a{
    margin: 10px 0px;
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 10px;
    border-radius: 50%;
}

.img-persons blockquote{
    background-color: rgb(255, 197, 5);
    font-weight: bold;
    letter-spacing: 1px;
    padding: 20px;
    text-align: center;
}

.img-persons blockquote p{
    color: white;
    padding: 10px 0px;
}

@media only screen and (max-width:1309px){

    .text-servicios{
        width: 60%;
        align-items: center;
    }

    .text-servicios h2{
        margin: 20px 0px;
        text-align: center;
    }

    .text-servicios a{
        width: 30%;
        margin: 20px 0px;
    }

    .Servicios{width: 90%;}

    .Servicios figure{
        margin-top: 40px;
        margin-left: 10px;
        margin-right: 10px;
        width: 300px;
    }

    .text-persons{
        width: 80%;
    }

    .img-persons figure{
        width: 400px;
    }
}   

@media only screen and (max-width:1179px){
    .text-experience{
        width: 80%;
        text-align: center;
    }

    .text-persons{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text-persons h2, .text-persons p{
        width: 100%;
        text-align: center;
        margin: 10px 0px;
    }
}

@media only screen and (max-width:1070px){

    .Servicios figure{width: 250px;}
}

@media only screen and (max-width:900px){

    .servicios{justify-content: space-around;}

    .text-servicios{width: 90%;}

    .text-servicios p{text-align: center;}

    .Servicios figure{width: 300px;}
}

@media only screen and (max-width:711px){
    .conta-servicios{padding: 40px 0px;}

    .text-servicios a{width: 90%;}

    .Servicios figure{width: 90%;}

    .Servicios figure h3{
        margin: 20px 0px;
    }
}

@media only screen and (max-width:570px){
    .text-experience{
        margin: 0;
    }
    
    .text-experience h2{
        font-size: 20px;
        line-height: 25px;
    }

    .text-experience p{
        font-size: 13px;
        text-align: justify;
    }

    .numbers{
        line-height: 0px;
    }
    
    .numbers h3{
        font-size: 20px;
    }
}

@media only screen and (max-width:430px){
    
    .Servicios figure i{font-size: 15px;}

    .Servicios figure h3{
        margin: 0px;
        padding: 10px 0px;
    }

    .text-servicios h2{font-size: 20px;}
    
    .text-servicios p{
        font-size: 12px;
        line-height: 25px;
    }

    .servicios{
       margin: 0px;
       padding: 0px;
       width: 100%;
    }

    .text-persons h2{font-size: 20px;}
    .text-persons p{
        font-size: 15px;
        text-align: justify;
    }

    .img-persons figure{width: 90%;}

    .img-persons blockquote h2{font-size: 15px;}

    .img-persons blockquote p{font-size: 14px;}
}